<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>
<header th:insert="fragments/general.html::header"></header>
<a href="/">Go to home page</a><br>
<h2>Authors</h2>
<table border="1px solid black">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>UserName</th>
        <th>Gender</th>
        <th>Bio</th>
        <th>Profile Picture</th>
    </tr>
    <tr th:each="author:${authors}">
        <th th:text="${author.name}"></th>
        <th th:text="${author.surname}"></th>
        <th th:text="${author.username}"></th>
        <th th:text="${author.gender}"></th>
        <th th:text="${author.bio}"></th>
        <th><img th:src="@{/image(name=${author.profilePic})}" width="20" /></th>
        <th><a th:href="@{/deleteAuthor(id=${author.id})}">Delete</a></th>
        <th><a th:href="@{/modifyAuthor(id=${author.id})}">Modify</a></th>
    </tr>
</table>
    <p>new p</p>
</body>
</html>
