<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<header th:insert="fragments/general.html::header"></header>
<a href="/">Go to home page</a><br>
<h2>Books</h2>
<table border="1px solid black">
    <tr>
        <th>Title</th>
        <th>Decription</th>
        <th>Price</th>
        <th>Author</th>
    </tr>
    <tr th:each="book:${books}">
        <th th:text="${book.title}"></th>
        <th th:text="${book.description}"></th>
        <th th:text="${book.price}"></th>
        <th th:text="${book.authorId}"></th>
        <th><a th:href="@{/deleteBook(id=${book.id})}">Delete</a></th>
        <th><a th:href="@{/modifyBook(id=${book.id})}">Modify</a></th>
    </tr>
</table>
<div th:if="${books.totalPages>0}" class="pagination"
     th:each="pageNumber:${pageNumbers}">
    <a th:href="@{/(size=${books.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==books.number+1}? active"></a>
</div>
</body>
</html>