<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Modify Author</h3>
<form action="/addAuthor" method="post">
    <input type="text" name="name" placeholder="Please input name" required="required"><br>
    <input type="text" name="surname" placeholder="Please input surname" required="required"><br>
    <input type="text" name="email" placeholder="Please input email" required="required"><br>
    Gender:
    <input type="radio" name="gender" value="MALE">MALE
    <input type="radio" name="gender" value="FEMALE">FEMALE<br>
    <textarea name="bio" placeholder="Tell us about you"></textarea><br>
    <input type="submit" value="Add Author">
</form>
</body>
</html>